*.pyc
*.pem
*.pub
*.tar.gz
*.zip
*.sql
secrets.txt
secrets.py
./tmp
./build/*
.idea/*
.idea
env
venv
## Database ignores
src/data/timer.db
src/data/development.db
src/data/project_data.json
*.db-shm
*.db-wal
